/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 4 Apr 2023, 8:48:04 pm
    Author     : zheng
*/

@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html::-webkit-scrollbar{
    width: 0.5rem;
    background-color: #020307;
}

html::-webkit-scrollbar-thumb{
    background-color: #38FFFC;
    border-radius: 5rem;
}

body{
    font-family: Roboto;
    margin-top: 100px;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/signup_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

.container{
    margin-top: 100px;
    position: relative;
    width: 80%;
}

.container-box{
    display: flex;
}

.container-body{
    position: relative;
    margin-left: 12%;
    color: #fff;
}

.body-title{
    font-family: Oswald;
    font-size: 40px;
    margin-top: -15px;
    margin-bottom: 25px;
}

.body-detail pre{
    color: #fff;
    font-family: Roboto;
    font-size: 17px;
    margin-bottom: 10px;
}

.body-detail pre span.value:before{
    position: relative;
    margin-right: 18px;
    content: ':';
}

.body-detail pre span.value{
    position: absolute;
    left: 30%;
}

.synopsis p.label{
    font-family: Oswald;
    margin-top: 30px;
    font-size: 23px;
}

.synopsis p.value{
    margin-top: 10px;
    font-size: 17px;
    text-align: justify;
}

/* Video */
.video{
    position: relative;
    top: 100px;
    left: 420px;
}

/* Button */
.button a{
    position: relative;
    top: 500px;
    left: 1050px;
    color: #38FFFC;
    text-decoration: none !important;
    padding: 10px 25px;
    font: bolder 19px Poppins;
    letter-spacing: 1px;
    border: none;
    border-radius: 8px;
    background-color: #000;
    border: 1px solid #38FFFC;
    cursor: pointer;
    transition-duration: 0.5s;
}

.button a:hover{
    color: #000;
    background-color: #38FFFC;
    border: 1px solid #000;
}